.dialog {
  background-color: none;
  margin-top: 863px;
  background: none;
  border: none;
  margin-left: 725px;
}

.modalButtons {
  position: absolute;
  z-index: 1000000;
  width: 278px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #d0cece;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 622px;
  margin-left: 787px;
}
.closeButton {
  width: 41px;
  margin-left: 472px;
  background-color: transparent;
  border: none;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 460px;
  height: 566px;
  padding: 32px;
  gap: 24px;
  border-radius: 16px;
  background: var(--background-secondary, rgba(34, 37, 43, 1));
}
.enter {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: start;
}
.label {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.inputDiv {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 12px 16px 12px 16px;
  background: var(--background-tertiary, rgba(45, 49, 57, 1));
  border: none;
  border-radius: 8px;
}
.remember {
  display: flex;
  gap: 10px;
  align-items: center;
}
.rememberCheck {
  background: rgba(34, 37, 43, 1);
  width: 24px;
  height: 24px;

  border-color: #fff;
}
.rememberMe {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.enterButton {
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  font-family: "Onest", sans-serif;
  width: 396px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 6px;
  border-radius: 8px;
  background: var(--background-accent, rgba(68, 82, 254, 1));
}
.another {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.anotherEnter {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.logButtons {
  display: flex;
  gap: 10px;
}
.socialButton {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  width: 192px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 6px;
  border-radius: 8px;
  border: 1px;
  border-color: #fff;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registrdiv {
  display: flex;
  gap: 10px;
}
.registr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: var(--text-accent, rgba(68, 82, 254, 1));
}
@media (max-width: 375px) {
  .modal {
    width: 375px;
  }
  .enterButton {
    width: 310px;
  }
  .socialButton {
    width: 145px;
  }
  .dialog {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 685px;
    background: none;
    border: none;
    margin-left: 0px;
  }
  .closeButton {
    margin-top: 10px;
    position: absolute;
    z-index: 10000;
    width: 41px;
    margin-left: 302px;
    background-color: transparent;
    border: none;
  }
}
