.slick-slide > div {
  margin: 15px;
}
.slick-slide > div {
  width: 456px;
}

.modal {
  width: 456px;
  height: 624px;
  padding: 40px 0px 0px 0px;
  gap: 32px;
  border-radius: var(--corner-radius8px);
  opacity: 0px;
}
@media (min-width: 1200px) and (max-width: 1490px) {
  .slick-slide > div {
    width: 400px;
    height: 430px;
  }
}
