.main {
  font-family: "Onest", sans-serif;
  max-height: 100vh;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-primary, #16181d);
}
.navigate {
  display: flex;
  width: 1416px;
  justify-content: space-between;
  align-items: center;
}
.burgerMenu {
  padding: 0;
  background-color: transparent;
  border: none;
}
.nav__links {
  display: flex;
  padding: 28px 0px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.logo {
}
.logo__icon {
}
.navlink {
  color: var(--text-primary, #fff);
  text-align: center;
  /* desktop/body/regular */
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  &:hover {
    text-decoration: underline 5px;
    text-decoration-color: #4452fe;
    text-underline-offset: 20px;
  }
}
.enter__button {
  border-radius: var(--corner-radius-8-px, 8px);
  border: 1px solid var(--stroke-primary, #fff);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #16181d;
  color: var(--text-primary, #fff);
  font-family: Onest;
  font-weight: 400;
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.top__content {
  display: flex;
  padding: 128px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: var(--background-primary, #16181d);
}
.top__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.top__h {
  color: var(--text-primary, #fff);
  text-align: center;
  /* desktop/H1 */
  font-family: Onest;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 80px */
  letter-spacing: -1.6px;
}

.top__p {
  color: var(--text-secondary, #e2e4e9);
  text-align: center;
  /* desktop/subhead */
  font-family: Onest;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.top__buttons {
  display: flex;
  gap: 16px;
}
.try__free {
  border-radius: 8px;
  border: none;
  background: var(--background-accent, #4452fe);
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--text-primary, #fff);
  /* desktop/button/large/medium */
  font-family: Onest;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    background: rgb(105, 117, 255);
  }
}

.to__know__more {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--text-primary, #fff);
  /* desktop/button/large/medium */
  font-family: Onest;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 24.3px */
  border-radius: var(--corner-radius-8-px, 8px);
  border: 1px solid var(--stroke-primary, #fff);
  background: var(--background-primary, #16181d);
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
.topImg {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.advantageSection {
  background: var(--background-primary, #16181d);
}

.adH1 {
  color: #fff;

  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: center;
}
.adtop {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.adH {
  color: #fff;

  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.adP {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.advantages {
  padding-top: 70px;
  gap: 70px;
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
.advantagesPicture {
  width: 752px;
  height: 759px;
}
.advantagesLi {
  display: flex;
  gap: 15px;
}

.advantagesUl {
  display: flex;
  padding-top: 26px;
  flex-direction: column;
  gap: 30px;
}

.professional__cards {
  display: flex;
  margin: 7.64rem 0;
  transition: transform 0.3s ease;
  justify-content: center;
  height: 200px;
}

.images {
  width: 9.68444rem;
  height: 10.375rem;
  padding: 0;
  margin: 0;
}

.programmer_text {
  font-family: var(--font-second);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  margin-top: -0.5rem;
}

.professioal_card__arrow {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.button_arrwo_left {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  fill: white;
  padding: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 0.5s;
  width: 4.30156rem;
  height: 4.30156rem;
}

.button_arrwo_left:hover {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  fill: white;
  padding: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.30156rem;
  height: 4.30156rem;
  transition: 0.5s ease;
}

.button_arrow_right {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  fill: white;
  padding: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 0.5s;
  width: 4.30156rem;
  height: 4.30156rem;
}

.button_arrow_right:hover {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  fill: white;
  padding: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.30156rem;
  height: 4.30156rem;
  transition: 0.5s ease;
}

.slide_active {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.875rem 1.875rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  line-height: 1;
  width: 17.81944rem;
  height: 12.84338rem;
  transition: 1s ease;
  position: absolute;
  transform: scale(1.75);
  opacity: 1;
}

.slide_next {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.875rem 1.875rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  line-height: 1;
  width: 17.81944rem;
  height: 12.84338rem;
  transition: 1s ease;
  position: absolute;
  transform: translateX(320px);
}

.slide_prev {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.875rem 1.875rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  line-height: 1;
  width: 17.81944rem;
  height: 12.84338rem;
  transition: 1s ease;
  position: absolute;
  transform: translateX(-320px);
}

.product {
  padding-top: 180px;
  background: var(--background-primary, #16181d);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productH1 {
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: center;
}
.producttop {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.item {
  margin-top: 70px;
  display: flex;
  background: var(--background-secondary, rgb(34, 37, 43));
  justify-content: flex-start;
  border-radius: 16px;
  width: 696px;
  height: 642px;
  opacity: 0px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.itemH3 {
  margin-top: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.itemP {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.itemImg {
  margin-top: 50px;
  width: 406px;
  height: 227px;
}
.items {
  display: flex;
  gap: 30px;
}
.itemButton {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Onest", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  min-width: 148px;
  height: 48px;
  border: none;
  border-radius: 8px;
  opacity: 0px;

  background: var(--background-accent, rgba(68, 82, 254, 1));
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    background: rgb(105, 117, 255);
  }
}
.galery {
  padding-top: 180px;
  display: flex;
  background: var(--background-primary, #16181d);
  flex-direction: column;
  align-items: center;
}
.picturesRow {
  margin-top: 23px;
  gap: 23px;
  display: flex;
}
.watchMore {
  margin-top: 60px;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
  width: 159px;
  height: 48px;
  gap: 6px;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  background: var(--background-primary, #16181d);
  transition: all 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
.partners {
  padding-top: 180px;
  display: flex;
  background: var(--background-primary, #16181d);
  flex-direction: column;
  align-items: center;
}

.brands {
  height: 66px;
  margin-top: 23px;
  gap: 65px;
  display: flex;
}
.brandPicture {
  height: 100%;
}

.application {
  width: 1416px;
  height: 844px;

  gap: 0px;
  border-radius: 16px;
  opacity: 0px;

  background: var(--background-secondary, rgba(34, 37, 43, 1));
}
.label {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.inputDiv {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 12px 16px 12px 16px;
  background: var(--background-tertiary, rgba(45, 49, 57, 1));
  border: none;
  border-radius: 8px;
}
.application {
  display: flex;
}
.applicationSection {
  padding-top: 180px;
  background: var(--background-primary, #16181d);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 456px;
  height: 604px;
  gap: 24px;

  margin-left: 120px;
  margin-top: 88px;
}
.confidensial {
  display: flex;
  flex-direction: column;
  color: var(--text-tertiary, rgba(112, 122, 143, 1));
}
.confidensialP {
  margin: 0;
}
.docs {
  color: var(--text-tertiary, rgba(112, 122, 143, 1));
}
.inputComment {
  padding: 12px 16px 12px 16px;
  background: var(--background-tertiary, rgba(45, 49, 57, 1));
  border: none;
  border-radius: 8px;
  height: 132px;
}
.slider {
  padding-top: 180px;
  background: var(--background-primary, #16181d);
}
.inputComment::placeholder {
  transform: translateY(-40px);
}
.modal {
  padding: 40px;
  gap: 32px;
  border-radius: 8px;
  opacity: 0px;
}
.exitModal {
  background-color: transparent;
  border: none;
  &Img {
    width: 25px;
    height: 25px;
    margin-left: 300px;
  }
}
.feedback {
  background-color: transparent;
  width: 456px;
  height: 352px;
  padding: 40px;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var(--stroke-secondary, rgba(67, 73, 86, 1));
}
.userInform {
  display: flex;
  gap: 20px;
}
.user {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.userImg {
  width: 65px;
  height: 65px;
}
.userName {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.userProf {
  color: rgba(112, 122, 143, 1);
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.fbText {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.fbButton {
  margin-top: 20px;
  padding: 0;
  color: rgba(68, 82, 254, 1);
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
}
.feedbacksection {
  margin-left: 220px;
  margin-right: 220px;
}
.slick-slide {
  margin: 0 27px;
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--background-primary, #16181d);
}
.footerTop {
  margin-top: 170px;
  gap: 140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.FooterH {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  margin-bottom: 10px;
}
.FooterUl {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.FooterLi {
  color: rgba(226, 228, 233, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.contacts {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.contact {
  color: rgba(226, 228, 233, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.socialIcons {
  margin-top: 10px;
}
.icon {
  transition: all 0.3s;
}
.icon :hover {
  fill: rgb(71, 83, 255);
}

.footerBottom {
  margin-bottom: 60px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 166px;
}
.footerDocs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerDoc {
  color: rgba(112, 122, 143, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footerCopmany {
  gap: 10px;
  display: flex;
  align-items: start;
}
.arrive {
  display: flex;
  width: 219px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--text-primary, #fff);
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  border-radius: var(--corner-radius-8-px, 8px);
  border: 1px solid var(--stroke-primary, #fff);
  background-color: transparent;
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
@media (min-width: 377px) {
  .fotterMobile {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .feedbacksection {
    margin-left: 100px;
    margin-right: 100px;
  }
  .feedback {
    height: 380px;
  }
}
@media (max-width: 376px) {
  .top__text {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__buttons {
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav__links {
    display: none;
  }

  .navigate {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    width: 375px;
    justify-content: space-between;
    align-items: center;
  }
  .top__h {
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .top__buttons {
    flex-direction: column;
  }

  .dashboard {
    background-size: cover;
    background-image: url(/Frame2.png);
  }
  .advantageSection {
    padding-left: 16px;
    padding-right: 16px;
  }
  .adH1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .adtop {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
  .advantages {
    flex-wrap: wrap;
  }
  .advantagesPicture {
    width: 343px;
    height: 347px;
  }
  .product {
    padding-left: 16px;
    padding-right: 16px;
  }
  .productH1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .producttop {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
  .items {
    flex-wrap: wrap;
  }
  .item {
    margin-top: 0px;
    width: 343px;
    height: 524px;
  }
  .itemP {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .itemButton {
    margin-top: 10px;
  }
  .itemImg {
    width: 311px;
    height: 210px;
    padding: 19.5px 3px 20.25px 3px;
  }
  .galery {
    padding-left: 16px;
    padding-right: 16px;
  }
  .picture {
    width: 168px;
    height: 168px;

    border-radius: 8px;
  }
  .picturesRow {
    display: flex;
    flex-direction: column;
  }
  .pictures {
    display: flex;
    gap: 10px;
  }
  .partners {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 82px;
  }
  .brandPicture {
    width: 45px;
    height: 45px;
  }
  .brands {
    height: 83px;
    margin-top: 20px;
    gap: 31px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .slider {
    display: none;
  }
  .application {
    width: 375px;
    height: 1320px;
    flex-direction: column;
    border-radius: 16px;
  }
  .form {
    width: 343px;
    height: 564px;
    margin-left: 16px;
    margin-top: 20px;
    gap: 16px;
  }
  .footer {
    display: none;
  }
  .fotterMobile {
    padding-left: 16px;
    padding-right: 16px;
    background: var(--background-primary, #16181d);
  }
  .fotterMobileLi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .fotterMobileUL {
    padding-top: 40px;
  }
  .fotterLiBold {
    margin: 0;
    padding: 5px;
    color: var(--text-primary, #fff);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
  }
  .row {
    width: 20px;
    height: 20px;
  }
  .fotterLi {
    color: var(--text-primary, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .contacts {
    margin-top: 50px;
  }
  .footerLogo {
    width: 102px;
    height: 32px;
  }
  .icon {
    width: 48px;
    height: 48px;
  }
  .social {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .footerMobileDocs {
    display: flex;
    flex-direction: column;
  }
  .arrive {
    width: 100%;
    margin-bottom: 40px;
  }
}
